@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
body{ 
    font-family: "Inter", sans-serif;

}

body{
    background-color: rgb(0, 0, 0);
}
.sec102{
    font-family: 'Miama', sans-serif;
                                                
    font-size: 160px;
    font-weight: 1;                                           
    
}


.sec1{
    display: flex;
    border: 1px solid  rgba(255, 255, 255, 0.5) ;
    padding-right: 15px;
    border-radius: 39px;
    

    

}
.sec0{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 47px 190px 0px 190px;
}
.sec100{
    display: none;
    height: 10px;
}
.sec101{
    border: 1px solid white;
    width: 20px;
    margin-top: 3px;

}
.sec2{
    display: flex;
}
div ul li{
    list-style: none;
    margin-left: 47px;
}
div li a{
    text-decoration: none;
}
.sec3{
    padding: 8px 30px 8px 30px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
}
.sec4{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
    text-align: left;
    font-style: italic;
    
}
.sec5{
    color: rgb(255, 255, 255);
font-size: 18px;
font-weight: 400;
}

.sec7{
    display: flex;
    justify-content:space-between;
    margin-bottom: 130px;
}
.sec9{
    margin-right: 50px;
    padding-left: 20px;
} 
.sec10{
    border: 2px solid white;
    height: 180px;
    border-radius: 100px;
    width: 180px;
    background-image: url(../images/image\ 3.png);
}
.sec11{border: 2px solid white;
    height: 180px;
    border-radius: 100px;
    width: 180px;
    background-image: url(../images/image\ 2.png);

}
.sec12{border: 2px solid white;
    height: 180px;
    border-radius: 100px;
    width: 180px;
    background-image: url(../images/image\ 4.png);

} 
.sec13{border: 2px solid white;
    height: 180px;
    border-radius: 100px;
    width: 180px;
    background-image: url(../images/image\ 5.png);

}
.sec14{
    display: flex;
    justify-content: space-evenly;

} 
.sec16{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
}